<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">
<title>Flight Delays</title>

<div id="title-block">
    <p id="title-text">Will Your Flight Be Delayed?</p>
</div>


<div id="form-container">
    <form method="POST" id="user_form">
        <div id="form-input-container">
            <label for="month">Month (1-12):</label>
            <input type="number" name="month" min="1" max="12" required>
        </div>
        <div id="form-input-container">
            <label for="day">Day (1-31):</label>
            <input type="number" name="day" min="1" max="31" required>
        </div>
        <div id="form-input-container">
            <label for="dep_time">Departure Time:</label>
            <input type="number" name="dep_time" min="0" max="2400" required>
        </div>
        <div id="form-input-container">
            <label for="dep_time">Departure Delay:</label>
            <input type="number" name="dep_delay" min="0" max="2400" required>
        </div>
        <div id="form-input-container">
            <label for="arr_time">Arrival Time:</label>
            <input type="number" name="arr_time"  min="0" max="2400" required>
        </div>
        <div id="form-input-container">
            <label for="carrier">Carrier:</label>
            <select name="carrier">
                <option value="VX">VX</option>
                <option value="DL">DL</option>
                <option value="9E">9E</option>
                <option value="AA">AA</option>
                <option value="WN">WN</option>
                <option value="B6">B6</option>
                <option value="EV">EV</option>
                <option value="FL">FL</option>
                <option value="UA">UA</option>
                <option value="US">US</option>
                <option value="MQ">MQ</option>
                <option value="F9">F9</option>
                <option value="YV">YV</option>
                <option value="AS">AS</option>
                <option value="HA">HA</option>
                <option value="OO">OO</option>
            </select>
        </div>
        <div id="form-input-container">
            <label for="flight">Flight #:</label>
            <input type="number" name="flight" required>
        </div>
        <div id="form-input-container">
            <label for="origin">Origin:</label>
            <select name="origin">
                <option value="JFK">JFK</option>
                <option value="LGA">LGA</option>
                <option value="EWR">EWR</option>
            </select>
        </div>
        <div id="form-input-container">
            <label for="dest">Destination:</label>
            <select name="dest">
                <option value="ABQ">ABQ</option>
                <option value="ACK">ACK</option>
                <option value="ALB">ALB</option>
                <option value="ANC">ANC</option>
                <option value="ATL">ATL</option>
                <option value="AUS">AUS</option>
                <option value="AVL">AVL</option>
                <option value="BDL">BDL</option>
                <option value="BGR">BGR</option>
                <option value="BHM">BHM</option>
                <option value="BNA">BNA</option>
                <option value="BOS">BOS</option>
                <option value="BQN">BQN</option>
                <option value="BTV">BTV</option>
                <option value="BUF">BUF</option>
                <option value="BUR">BUR</option>
                <option value="BWI">BWI</option>
                <option value="BZN">BZN</option>
                <option value="CAE">CAE</option>
                <option value="CAK">CAK</option>
                <option value="CHO">CHO</option>
                <option value="CHS">CHS</option>
                <option value="CLE">CLE</option>
                <option value="CLT">CLT</option>
                <option value="CMH">CMH</option>
                <option value="CRW">CRW</option>
                <option value="CVG">CVG</option>
                <option value="DAY">DAY</option>
                <option value="DCA">DCA</option>
                <option value="DEN">DEN</option>
                <option value="DFW">DFW</option>
                <option value="DSM">DSM</option>
                <option value="DTW">DTW</option>
                <option value="EGE">EGE</option>
                <option value="EYW">EYW</option>
                <option value="FLL">FLL</option>
                <option value="GRR">GRR</option>
                <option value="GSO">GSO</option>
                <option value="GSP">GSP</option>
                <option value="HDN">HDN</option>
                <option value="HNL">HNL</option>
                <option value="HOU">HOU</option>
                <option value="IAD">IAD</option>
                <option value="IAH">IAH</option>
                <option value="ILM">ILM</option>
                <option value="IND">IND</option>
                <option value="JAC">JAC</option>
                <option value="JAX">JAX</option>
                <option value="LAS">LAS</option>
                <option value="LAX">LAX</option>
                <option value="LGB">LGB</option>
                <option value="MCI">MCI</option>
                <option value="MCO">MCO</option>
                <option value="MDW">MDW</option>
                <option value="MEM">MEM</option>
                <option value="MHT">MHT</option>
                <option value="MIA">MIA</option>
                <option value="MKE">MKE</option>
                <option value="MSN">MSN</option>
                <option value="MSP">MSP</option>
                <option value="MSY">MSY</option>
                <option value="MTJ">MTJ</option>
                <option value="MVY">MVY</option>
                <option value="MYR">MYR</option>
                <option value="OAK">OAK</option>
                <option value="OKC">OKC</option>
                <option value="OMA">OMA</option>
                <option value="ORD">ORD</option>
                <option value="ORF">ORF</option>
                <option value="PBI">PBI</option>
                <option value="PDX">PDX</option>
                <option value="PHL">PHL</option>
                <option value="PHX">PHX</option>
                <option value="PIT">PIT</option>
                <option value="PSE">PSE</option>
                <option value="PSP">PSP</option>
                <option value="PVD">PVD</option>
                <option value="PWM">PWM</option>
                <option value="RDU">RDU</option>
                <option value="RIC">RIC</option>
                <option value="ROC">ROC</option>
                <option value="RSW">RSW</option>
                <option value="SAN">SAN</option>
                <option value="SAT">SAT</option>
                <option value="SAV">SAV</option>
                <option value="SDF">SDF</option>
                <option value="SEA">SEA</option>
                <option value="SFO">SFO</option>
                <option value="SJC">SJC</option>
                <option value="SJU">SJU</option>
                <option value="SLC">SLC</option>
                <option value="SMF">SMF</option>
                <option value="SNA">SNA</option>
                <option value="SRQ">SRQ</option>
                <option value="STL">STL</option>
                <option value="STT">STT</option>
                <option value="SYR">SYR</option>
                <option value="TPA">TPA</option>
                <option value="TUL">TUL</option>
                <option value="TVC">TVC</option>
                <option value="TYS">TYS</option>
                <option value="XNA">XNA</option>
            </select>
        </div>
        <div id="form-input-container">
            <label for="air_time">Air time:</label>
            <input type="number" name="air_time" min="0" max="2400" required>
        </div>
        <div id="form-input-container">
            <label for="distance">Distance:</label>
            <input type="number" name="distance" min="0" max="9999" required>
        </div>

        <div id="form-input-container">
            <label for="hour">Hour:</label>
            <input type="number" name="hour" min="0" max="24" required>
        </div>
        <div id="form-input-container">
            <label for="minute">Minutes:</label>
            <input type="number" name="minute" min="0" max="59" required>
        </div>
        <input type="submit" id="submit-button">
    </form>
</div>
<div id="result">
    {% if is_delayed == 1 %}
    <h1 style="color: red;">Flight will be delayed!</h1>
    {% elif is_delayed == 0 %}
        <h1 style="color: greenyellow;">Flight will not be delayed!</h1>
    {% else %}
        <h1></h1>
    {% endif %}
</div>